.article {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meta {
    display: flex;
    margin-bottom: 5px;
}

.metaLink {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 0 15px;
}

.metaLink svg {
    margin-bottom: 3px;
}

.date,
.author {
    margin-left: 4px;
    width: 100%;
    line-height: 1em;
    font-size: 21px;
    font-family: "Crimson Text",serif;
    font-weight: 400;
    font-style: italic;
    color: var(--color-white);
}

.date::after,
.author::after {
    position: absolute;
    content: '';
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-white);
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: var(--transition--article-meta);
}

.metaLink:hover .date::after,
.metaLink:hover .author::after {
    transform: scaleX(1);
    transform-origin: 0 0;
}

.title {
    margin-bottom: 15px;
    text-transform: uppercase;
    line-height: 65px;
    font-size: 55px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    color: var(--color-white);
}

.text {
    max-width: 590px;
    margin-bottom: 25px;
    text-align: center;
    line-height: 26px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
    color: var(--color-white);
}